.header {
  @include flexboxLayout(row, center, space-between);
  color: $text-primary;
  padding: 20px 0;

  &--logo {
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    
    &:hover {
      color: $text-hover;
    }
  }

}

.nav {
  @include flexboxLayout();
  gap: 28px;

  &__link {
    font-size: 18px;
    font-weight: 500;

    &:hover {
      color: $text-hover;
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

.user {
  @include flexboxLayout();
  
  &:hover {
    color: $text-hover;
  }

  &__icon {
    font-size: 28px;
  }

  &__text {
    @include setHeightWidth(auto, 100px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.active {
  color: $text-hover;
  font-weight: 600;
  text-decoration: underline;
}